

header{
    padding-left: 100px;
    padding-top: 100px;
    background-image: url(images/crud.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
}
main{
    background-color: rgb(145, 145, 145);
}
footer{
    color: blanchedalmond;
    height: 200px;
    text-align: center;
    padding-top: 80px;
    font-weight: bold;
    font-size: 25px;
    background-color: black;
}
h1{
    text-align: center;
}
.flex-container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}